* {
  transition: none;
}

window {
  font-family: "FiraCode Nerd Font Mono", monospace;
  font-size: 14px;
  margin: 0;
  border: 1px solid #45475a;
  background-color: #1e1e2e;
  border-radius: 0;
}

#input {
  padding: 10px 16px;
  margin: 12px;
  border: none;
  border-bottom: 1px solid #45475a;
  border-radius: 0;
  background-color: transparent;
  color: #cdd6f4;
  font-weight: 400;
}

#input:focus {
  border-bottom: 1px solid #cba6f7;
  outline: none;
}

#inner-box {
  margin: 0 12px 12px 12px;
  border: none;
  color: #cdd6f4;
}

#outer-box {
  margin: 0;
  border: none;
  padding: 0;
}

#scroll {
  margin: 0;
  border: none;
}

#text {
  margin: 0;
  padding: 8px 12px;
  border: none;
  background: transparent;
  color: #cdd6f4;
}

#text:selected {
  color: #cba6f7;
}

#img {
  margin-right: 10px;
  background: transparent;
}

#entry {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  min-height: 36px;
}

#entry:selected {
  outline: none;
  background-color: #313244;
  border: none;
  margin: 0 -12px;
  padding: 0 12px;
}

#entry:selected #text {
  color: #cba6f7;
}
